<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FCC pintrest-clone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <link rel="stylesheet" href="/stylesheet/main.css">
</head>

<body>
  <div class="ui fixed inverted menu">
    <a href="/" class="header item">
      Pintrest Clone
    </a>
    <div class="right menu">

      <% if(!user){ %>
        <a href="/auth/login/twitter" class="item">Login with Twitter!</a>
        <% }else{ %>
          <a href="/show/<%= user.id %>" class="item">My Pins</a>

          <div class="ui pointing dropdown link item" id="user">
            <span class="text">Add New Pin</span>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="header">New Pin</div>
              <div class="header">
                <form class="" action="/add" method="post">
                  <label for="">Title</label>
                  <input type="text" name="title" value="" required>
                  <div class="divider"></div>
                  <label for="">Image Source</label>
                  <input type="text" name="image" value="" required>
                  <div class="divider"></div>
                  <label for="">Website</label>
                  <input type="text" name="website" value="">
                  <div class="divider"></div>
                  <label for="">Description</label>
                  <input type="text" name="description" value="">
                  <div class="divider"></div>
                  <input type="submit" name="submit" value="submit">
                </form>
              </div>
            </div>
          </div>

          <span class="item"><%= user.name %></span>
          <a href="/auth/logout" class="item">Logout!</a>
      <% } %>
    </div>
  </div>
